.main{
  width: 100%;
  height: auto;
  background-color: black;
  padding-top: 100px;
}

.row {
   display: flex;
   flex-direction: row;
   padding-bottom: 20px;
   }

.row img
{
  width: 350px;
  height: 250px;
  transition: all 0.4s ease-in-out;
}

.row img:hover{
  transform: scale(1.085);
  
}